.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body {
  overflow: hidden; /* Hide scrollbars */
}

.side-bar{
  background-color: rgb(230, 236, 247);
  box-shadow: 4px 0px 10px rgb(0, 0, 0);
  width: 20%;
  height: 100vh;
}

.background{
  background-image: url('./img/Background.gif');
  margin-left: 0px !important;
  margin-right: 0px !important;
  width: 100vw;
  height: 100vh;
}

.content{
  background-color: rgb(230, 236, 247);
  display: inline-block;
  box-shadow: 4px 4px 10px rgb(0, 0, 0);
  margin-top: 10vh;
  margin-bottom: 10vh;
  width: 80%;
  height: 80%;
}

.content-container{
  width: 80%;
  height: 100vh;
  text-align: center;
}

.image-container{
  text-align: center;
  height: 30%;
  width: 100%;
}

.name{
  text-align: center;
  margin: 0px 0px 5% 0px;
}

.center{
  text-align: center;
}

.info{
  font-size: 100%;
}

.headshot{
  margin: 12.5% auto 12.5% auto;
  height: 75%;
  width: auto;
}

.introduction{
  color: white;
  position: absolute;
  text-align: left;
  bottom: 0;
  left: 40%;
  height: 35%;
  width: 25%;
}

.navigation{
  font-size: 100%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.link{
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.activeLink{
  color: green;
  cursor: pointer;
  text-decoration: underline;
}

.link:hover{
  color: blue;
  text-decoration: underline;
}

.icons{
  margin-top: 10%;
  margin-bottom: 10%;
}

.navlinks{
  margin-top: 10%;
  margin-bottom: 10%;
}

.thanks{
  position: absolute;
  bottom: 0;
  width: inherit;
  padding-left: 1%;
  padding-right: 1%;
  text-align: center;
  font-size: 100%;
}

.know-more{
  color: white;
  background-color: transparent;
  border-color: white;
}

.green{
  color: green;
}

.about-me{
  margin-left: 2%;
  margin-right: 2%;
}

.about-me-content{
  line-height: 50px;
}

.project-display{
  width: 100%;
  height: 100%;
}

.project-area{
  width: 100%;
  height: 95%;
}

.border{
  border: thick black !important;
}

.project-container{
  position:relative;
  width: 100%;
  height: 100%;
}

.project-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  color: #fff;
  visibility: hidden;
  opacity: 0;

  transition: opacity .2s, visibility .2s;
}

.project-container:hover .project-description{
  visibility: visible;
  opacity: 85%;
}

.projects-container-row{
  width: 100%;
  height: 47.5%;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 2.5%;
}

.page-title{
  width: 100%;
  height: 5%;
}

.project-gif{
  width: 100%;
  height: 90%;
}

.project-title{
  height: 10%;
  width: 100%;
}

.description-link{
  height: 10%;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.description-button{
  opacity: 100% !important;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.scale-font{
  font-size: 100%;
}

.margin-2{
  margin-left: 2%;
  margin-right: 2%;
}